html {
  scroll-behavior: smooth;
}

body {
  background: #FFFFFF;
  margin: 0;
}

/* NAV BAR */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  height: 500vh;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

#navbar {
  --navbar-height: 60px;
  position: fixed;
  height: var(--navbar-height);
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  left: 0;
  right: 0;
  z-index: 100
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.07vw;
  padding: 1vw;
}

.dropdown {
  overflow: hidden;
  margin
}

#nav-survey-button {
  letter-spacing: 2px;
  padding: 5px 20px;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  border-width: 0.1vw;
  border-style: solid;
  border-color: black;
}

#nav-survey-button:hover {
  border-color:#797AB0;
}

.home-link,
.navbar-link {
  color: black;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  white-space: nowrap;
  width: 100%;
  padding: 0;
}
.navbar-link:is(:focus, :hover) {
  color: #797AB0;
}

.navbar-logo img {
  background-size:contain;
  width: 135px;
  align-items: center;
  margin-top: 10px;
  margin-left: 5%;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: black;
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: #797AB0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: white;
  color: white;
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

@media screen and (min-width: 800px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }
  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }
  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

/* NAV BAR - dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 60px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: white;
  border-radius: 5px;
  color: #797AB0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* FOOTER */
.footer-container {
  height:20%;
  width: 100%;
  margin-top: 5%;
  background-color: #A1B9ED;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#berk-logo img {
  width: 50%;
  margin-left: 100px;
}

.footer-right {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}

.footer-icons {
  width: 100%;
  margin-right: 50px;
}


/* PAGE 1 HEADER SECTION */

#image-banner-container {
  background-image: url(../images/landing_page_sunrise.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
  font-size: 40px;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  color: black;
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 30px;
  text-align: center;
}

#take-survey-button {
  background: #282828;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  border: none;
  padding: 18px 32px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


/* PAGE 1 "WHAT'S FUTUREPAIN" SECTION & "HOW THE SURVEY WORKS" SECTION*/
.mainpage-explanation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.mainpage-explanation-container div {
  flex-basis: 50%;
}

@media (max-width: 800px) {
  .mainpage-explanation-container {
    flex-direction: column;
  }
}

.text-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mainpage-explanations {
  margin: 0px 30px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainpage-explanation-header {
  color: black;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}

.mainpage-explanation-body {
  color: black;
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  line-height: 150%;
  margin: 0px 30px 30px 0px;
}

.mainpage-explanation-button {
  color: #A1B9ED;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
  padding: 10px 24px;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #A1B9ED;
}

.mainpage-explanation-container img {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

#howsurveyworks-pic {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 60px;
}

@media screen and (max-width: 800px) {
  #howsurveyworks-pic {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #whatsfuturepain-pic {
    display: none;
  }
}

/* ABOUT PAGE */
.top-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

.page-header {
  color: black;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.page-subhead {
  color: black;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
  text-align: center;
}

/* ABOUT PAGE - BIOS*/
.bio-container {
  display: flex;
  justify-content: center;
  margin-right: 60px;
  width: 100%;
  height: auto;
}

.bio-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
}

.bio-card {
  background-color: transparent;
  width: 350px;
  height: 470px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  perspective: 1000px;
}

.bio-card-pic img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.bio-card-name {
  font-size: 28px;
  font-weight: 500;
  padding: 20px 15px 15px 15px;
}

.bio-card-role {
  font-size: 18px;
  padding: 0px 15px 15px 20px;
}

.bio-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.bio-card:hover .bio-card-inner {
  transform: rotateY(180deg);
}

.bio-card-front, .bio-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.bio-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.bio-card-back-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 28px;
  padding: 40px 15px 15px 0px;
}

.bio-card-back-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding: 20px 15px 15px 20px;
}

hr.solid {
  border-top: 1px solid black;
  margin: 0px 25px 0px 25px;
}

/* RESEARCH PAGE */
.research-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 800px;
  width: auto;
  margin-top: 2%;
  margin-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: pink;
}

.research-pic img {
  width: 300px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .research-pic img {

  }
}

.research-right {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  margin-left: 60px;
  margin-top: 10px;
  background-color: orange;
}

.research-header a {
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.research-header a:hover {
  color: #A1B9ED;
  text-decoration: none;
}

.research-body {
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  line-height: 150%;
}

.research-body-divider {
  display: inline-block;
  border-left: 8px solid #A1B9ED;
  margin: 0px 10px;
  height: 100%;
}
